.navbar {
  width:100%;
  background-color: #000;
   padding: 16px 0px;
  display: flex;
  justify-content: space-around;
  gap: 200px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 8px 25px rgba(255, 183, 3, 0.08);
}

.navbar-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  filter: drop-shadow(0 0 8px #ffb703aa);
  transform: scale(1.5);
}

.navbar-center {
  justify-content: center;
  text-align: center;
  color: #ffb703;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-shadow: 0 0 12px #ffb70388;
}

.navbar-right nav {
  display: flex;
  gap: 30px;

}

.navbar a {
  color: #ffb703;
  background: rgba(255, 255, 255, 0.05);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 14px;
  border: 1.2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  box-shadow: 0 0 16px rgba(255, 183, 3, 0.1);
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: -120%;
  left: -60%;
  width: 200%;
  height: 300%;
  background: linear-gradient(120deg,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.05),
  rgba(255, 255, 255, 0.3));
  transform: rotate(25deg);
  transition: 0.5s;
}

.navbar a:hover::before {
  top: -30%;
  left: 0%;
}

.navbar a:hover,
.navbar a.active {
  color: #ffff;
  border-color: #ffb703;
  transform: translateY(-2px) scale(1.05);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 14px 20px;
    gap: 10px;
  }

  .navbar-center {
    font-size: 24px;
  }

  .navbar-right nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .navbar a {
    font-size: 16px;
    padding: 8px 14px;
  }
}
