@tailwind base;
@tailwind components;
@tailwind utilities;

/* Avoid resetting all elements with * as Tailwind handles spacing. */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #689f38;
}